body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.row{
  padding: 0px 15px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.item{
  width: 100%;
  height: 60px;
  box-shadow: 0px 5px 20px rgb(150 150 150 / 10%);
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item_row{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control{
  width: auto;
  display: flex;
  align-items: center;
}

.eat{
  padding: 0px 25px;
  height: 60px;
  color: #04004D;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s all;
}

.eat:hover{
  background: #f1f1f7;
}

.add, .delete{
  width: 60px;
  height: 60px;
  background-color: #04004D;
  border-radius: 0px 15px 15px 0px;
  background-image: url(./source/trash.svg);
  background-position: center;
  background-size: 22px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s all;
}

.add:hover, .delete:hover{
  background-color: #04004da3;
}

.add{
  background-image: url(./source/send.svg);
}

.item_row span{
  padding: 0px 15px;
}

.item_row input{
  width: 100%;
  height: 100%;
  padding: 0px 15px;
  border: 0px;
  font-size: 16px;
  border-radius: 15px 0px 0px 15px;
}

.navigation{
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background: #fff;
  display: flex;
  box-shadow: 0px 5px 20px rgb(150 150 150 / 10%);
}

.navigation span{
  flex: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all;
}

.navigation .nonActive:hover{
  background: #f1f1f7;
}

.navigation .active{
  background: #04004D;
  color: #fff;
}
